@charset "UTF-8";
.img{
  height: 500px;
}

.repeat{
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.center1{
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}

.center2{
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}