@charset "UTF-8";

/* カード内の画像は以下のURLを使用して下さい */
/* https://picsum.photos/id/1005/200/300 */

.box{
  margin: 0 auto;
  height: 200px;
  width: 200px;
  background: #76ff826b;
}

.fadeIn{
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.fadeOut{
  animation-name: fadeOut;
  animation-duration: 4s;
  animation-delay: 4s;
}

@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.circle{
  animation-name: circle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes circle{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.box2{
  margin: 0 auto;
  background: #331aefd0;
  height: 200px;
  width: 200px;
  transition-duration: 0.5s;
}

.color:hover{
  background: #ff27e2c9;
}

.spin:hover{
  transform: rotate(360deg);
}

.up:hover{
  transform: translateY(20%);
}

.right:hover{
  transform: translateX(20%)
}

.height:hover{
  height: 300px;
}

.width:hover{
  width: 300px;
}

.border:hover{
  border: 10px solid #00ffe5;
  box-sizing: border-box;
}

.shadow:hover{
  box-shadow: 8px 11px 10px 3px #06031ed0;
}

.circle-spin{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  animation-name: circle;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 10px solid #ecf1f2;
  border-top: 10px solid #14ff4bcd;
  border-radius: 50%;
}

@keyframes circle{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

ul{
  display: flex;
}

li{
  width: 300px;
  border: 1px solid #000000;
  border-right: 0;
  background: #ffffff;
  padding: 20px;
  transition-duration: 0.5s;
  z-index: 1;
}

li:hover{
  box-shadow: 0px 0px 10px 3px #424242d0;
  z-index: 2;
}

li:last-child{
  border-right: 1px solid #000000;
}

.icon{
  background-image: url(https://picsum.photos/id/1005/200/300);
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p{
  margin-top: 20px;
}